@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

div {
    height: 25vh;
}

header {
    height: 20vh;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ec8fd0;
    color: #4b1e3d;
    font-size: 35px;
}

input {
    width: 100%;
    height: 100%;
    background: #4b1e3d;
    color: #ec8fd0;
    font-size: 35px;
    text-align: center;
    border: 0;
    outline: none;
    font-family: 'Asap', sans-serif;
}

#fahrenheit {
    border-top: 2px solid #b82e8a;
    border-bottom: 2px solid #b82e8a;
}

::placeholder {             /*'::placeholder'- means pseudo element. This notation works for chrome by default.*/
    color: #b82e8a;      /*'::-webkit-input-placeholder'- must be used for other browsers like: Opera, Safari etc...*/   
}                          /*'::-moz-input-placeholder'-for mozilla*/
                          /*'::-ms-input-placeholder'-for MS edge*/  
